importFrom(sp, is.projected, coordinates, CRS, SpatialPoints)
importFrom(methods, is)

exportMethods(
 "crepuscule", # birdscanR incR
 "sunriset", # birdscanR FLightR PWFSLSmoke
 "solarnoon", # PWFSLSmoke
 "solarpos" # EMbC
)


